/*** VSCodeEDU preview fix 

  Purpose:
  - Fix VSCodeEDU issue that causes a white border to show around
    the preview window

  When To Modify:
  - If you change the background color of your webpage, you may need to update this rule too.
***/

html {
  background-color: inherit;
}

/*** body ***
  
  Purpose:
  - Add style rules for the body of your webpage
  - This is useful if you want a rule to apply to EVERYTHING on your page
    - (Tip: You can always override these rules later in the stylesheet)

  When To Modify:
  - [X] Project 3 (REQUIRED FEATURE) 
  - [ ] Any time after
***/

body {
  /* Add a background color or image */
  background-color: var(--bg-color);
  /* see bottom of file for color variables */

  /* Customize the default size, color, and font for text*/
  font-size: 18px;
  color: var(--text-color);
  font-family: var(--article-font);
  /* This tells the browser: "Try to use `Tahoma`, and if you can't find it, use any sans-serif font." */

  /* Put space around the edges of the webpage */
  margin: 60px;
  text-align: center;
  justify-content: center;
}

/*** Text ***
  
  Purpose: 
  - Add style rules for headings (h1-6),
    paragraphs (p), links (a), and buttons

  When To Modify:
  - [X] Project 3 (REQUIRED FEATURE) 
  - [ ] Any time after
***/

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 2rem;
  font-family: var(--subtitle-font);
}

h3 {
  font-size: 40px;
  font-family: var(--subtitle-font);
}

h4 {
  font-size: 20px;
}

p {
  font-family: var(--article-font);
}

a {
  font-family: var(--article-font);
  text-decoration: none;
  color: var(--accent-color-light-green);
}

.subtitle {
  font-family: var(--subtitle-font);
  text-transform: uppercase;
  font-size: 3rem;
}

a:link {
  color: var(--accent-color-green);
  text-decoration: none;
}

a:active {
  color: var(--accent-color-dark);
}

a:hover {
  color: var(--bg-color-dark-mode);
}

a:visited {
  color: var(--accent-color-green);
}

button {
  /* Example Style, replace with your own! */
  background-color: var(--accent-color-darkest);
  /* button color */
  color: var(--accent-color-medium);
  /* text color */
  border: none;
  /* hides the default border */
  padding: 5px 12px;
  /* space between button's text and edge */
  border-radius: 5px;
  /* curved edges instead of square */
  cursor: pointer;
  /* makes the cursor change when over button */
  font-family: var(--article-font);
  font-size: 18px;
  width: 180px;
  height: 50px;
  font-weight: bold;
  margin: 10px;
}

button:hover {
  background-color: var(--accent-color-medium);
  color: white;
}


/*** header ***
  
  Purpose:
  - Add style rules for your website's header section

  When To Modify:
  - [X] Project 3 (REQUIRED FEATURE) 
  - [ ] Project 4 (REQUIRED FEATURE) 
  - [ ] Any time after
***/

.header-container {
  /* Example A: This styles elements with class="header" */
  text-align: center;
  padding-top: 100px;
  margin-top: 60px;
  margin-bottom: 150px;
  height: fit-content;
  width: 100%;
  align-content: center;
  background-color: var(--accent-color-dark);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 2px var(--accent-color-darkest);
  border-radius: 4px;
}

.header-item:nth-of-type(1) {
  justify-content: center;
  width: 50%;
}

.header-item:nth-of-type(2) {
  justify-content: left;
  width: 50%;
  margin-bottom: 150px;
}


#header-img {
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.863);
  border-radius: 300px;
  border: dotted 20px var(--accent-color-medium);
  width: 60%;
  max-width: 600px;
  box-shadow: 2px 20px 1px var(--accent-color-darkest);
}

.header-button {
  background-color: var(--accent-color-green);
  font-family: var(--title-font);
  font-size: 18px;
  width: 180px;
  height: 50px;
  font-weight: bold;
  margin: 10px;
  color: var(--accent-color-light);
  padding: 20px 0 40px 0;
  text-align: center;
  border: double 5px;
  align-content: center;
  border-radius: 40px;
  cursor: pointer;
}

#site-title {
  padding: 0px 0 60px 0;
  margin-bottom: 5px;
  height: 80%;
  font-size: 10em;
  color: var(--text-color);
  text-shadow: 10px 15px 1px var(--bg-color);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#tag-line {
  font-family: var(--title-font);
  padding-top: 80px;
  padding-bottom: 100px;
  color: var(--accent-color-medium);
  border-top: double var(--accent-color-light);
}

/*** footer ***
  
  Purpose:
  - Add style rules for your website's footer section

  When To Modify:
  - [] Project 3 (STRETCH FEATURE) 
  - [ ] Any time after
***/

.footer {
  /* Example B: This styles elements with class="footer" */
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: var(--accent-color-darkest);
  text-align: center;
  color: var(--accent-color-light);
  align-content: center;
  font-style: italic;
}

.footer-link:hover {
  color: white;
}

/*** Navigation bar (navbar) ***
  
  Purpose:
  - Add style rules for your website's navbar

  When To Modify:
  - [X] Project 4 (REQUIRED FEATURE) 
  - [ ] Any time after
***/

.navbar ul {
  z-index: 1000;
  /* Ensures the navbar is on top of other elements */
  list-style-type: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 20px;
  background-color: var(--accent-color-darkest);
  padding: 20px 0;
  margin-top: 0;
}

.navbar ul li {
  float: left;
  margin: 10px;
}

.navbar ul li a {
  font-family: var(--subtitle-font);
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  text-decoration: none;
  padding: 0 40px;
  color: white;
  transition: color 200ms, font-size 280ms;
  text-align: center;
  align-content: center;
}

.navbar ul li a:hover {
  color: var(--accent-color-light);
  font-size: 1.2em;
}

#theme-button {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  text-transform: uppercase;
  height: fit-content;
  width: 250px;
  color: var(--accent-color-darkest);
  background: linear-gradient(to right, var(--accent-color-light) 10%, var(--accent-color-medium));
}

#theme-button:hover {
  background: linear-gradient(to right, var(--accent-color-light) 70%, var(--accent-color-medium));
}

/*** About Section ***
  
  Purpose:
  - Add style rules for your website's About section

  When To Modify:
  - [X] Project 3 (OPTIONAL)
  - [X] Project 4 (STRETCH FEATURE) 
  - [ ] Any time after
***/

.about-container {
  text-align: center;
  padding: 0 10% 0 10%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.about-article {
  background-color: var(--accent-color-medium);
  box-shadow: 10px 10px var(--accent-color-dark);
  padding: 50px 20% 50px 20%;
  margin-bottom: 160px;
  border-radius: 4px;
}

.about-container ul li {
  margin: 0;
  list-style: none;
  padding: 20px;
}


/*** Schedule Section ***
  
  Purpose:
  - Add style rules for your website's Schedule section

  When To Modify:
  - [X] Project 3 (OPTIONAL)
  - [X] Project 4 (STRETCH FEATURE) 
  - [ ] Any time after
***/

.event-sched {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10% 100px 10%;
  gap: 160px;
}

.event-sched h2 {
  margin-top: 100px;
  border: solid 10px white;
  font-size: 5rem;
  padding: 50px;
  text-shadow: 2px 5px 1px var(--accent-color-medium);
  box-shadow: 4px 4px 1px var(--accent-color-medium);
  border-radius: 4px;
}

.event-container {
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
  justify-content: center;
}

.event {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--accent-color-dark);
  padding: 0 20px;
  border-radius: 4px;
  width: 350px;
  box-shadow: 8px 15px 3px var(--accent-color-darkest);
}

.event-img {
  width: 300px;
  border-radius: 30px;
  box-shadow: 3px 5px 4px #231942;
  border: double 3px var(--accent-color-green);
  margin-top: 60px;
}

.event h3 {
  font-size: 1.6rem;
  margin-top: 100px;
  text-transform: uppercase;
  width: 80%;
}

.event p {
  padding: 0 20%;
  margin-bottom: 100px;
}

/*** Links Section ***
  When To Modify:
  - [X] Project 3 (OPTIONAL)
  - [ ] Project 4 (STRETCH FEATURE) 
  - [ ] Any time after
***/

.links-container {
  background-color: var(--accent-color-medium);
  padding: 50px 10% 50px 10%;
  box-shadow: 10px 10px var(--accent-color-dark);
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  height: fit-content;
  flex-wrap: wrap;
  gap: 20px;
}

.links-item {
  background-color: var(--accent-color-light-green);
  justify-content: center;
  align-content: center;
  width: 400px;
  height: 250px;
  border-radius: 50px;
  margin: 60px;
  padding: 10px 40px;
  border: double 5px;
}

.links-container .subtitle {
  width: 100%;
}

.links-container a:hover {
  color: var(--bg-color);
}


/*** RSVP Section ***
  
  Purpose:
  - Add style rules for your website's RSVP form

  When To Modify:
  - [X] Project 6 (REQUIRED FEATURE)
  - [ ] Project 7 (REQUIRED FEATURE)
  - [ ] Any time after
***/

.rsvp-container {
  display: flex;
  flex-direction: row;
  gap: 80px;
  width: 100%;
  padding-bottom: 50px;
  text-align: left;
  align-items: center;
  margin: 0 50px;
}

.rsvp-para {
  width: 55%;
  padding-right: 10px;
  margin: 40px;
}

.rsvp-participants {
  width: 45%;
  padding-right: 10px;
}

/* Add other rsvp-related selectors here */

#rsvp-button {
  width: fit-content;
  height: 30px;
  margin: 50px;
}

#name,
#address,
#email {
  margin: 0 30px 0 5px;
  height: 25px;
  font-family: var(--article-font);
  color: var(--accent-color-dark);
  border-radius: 2px;
}

label {
  font-family: var(--title-font);
  text-transform: uppercase;
  font-weight: bold;
}

/*** Animations [PLACEHOLDER] [ADDED IN UNIT 8] ***/
/*** Success Modal [PLACEHOLDER] [ADDED IN UNIT 9] ***/


/* Default light mode style */
.light-mode {
  background-color: var(--bg-color-light-mode);
  color: var(--text-color-light-mode);
}

/* Example: Different dark mode style for h1 */
.light-mode h1 {
  color: var(--text-color-light-mode);
}

.light-mode .header-container {
  background-color: var(--accent-color-light-green);
  color: var(--text-color-light-mode);
  box-shadow: 10px 10px 2px var(--accent-color-medium);
}

.light-mode .event {
  background-color: var(--accent-color-light-green);
  box-shadow: 10px 10px 4px var(--accent-color-medium);
}

.light-mode #tag-line {
  color: var(--accent-color-green);
}

.light-mode .about-article {
  background-color: var(--accent-color-light);
  box-shadow: 10px 10px 2px var(--accent-color-medium);
}

.light-mode .links-container {
  background-color: var(--accent-color-light);
  box-shadow: 10px 10px 4px var(--accent-color-medium);
}

/* Example: Different dark mode style for visited links */
.light-mode a:visited * {
  color: #450A0A;
}

/*** Custom Colors (OPTIONAL) ***
  
  Purpose:
  - Use CSS variables to define custom colors for your website
  - To get you started, we've provided the color scheme used in our example site.
  - To reference a color variable in your css, use var(--variable-name) in place of a color value

  When To Modify:
  - [ ] Any time (OPTIONAL)
***/

:root {
  /* Dark Mode */
  --bg-color: #701A18;
  --text-color: #e9e9e9;

  /* Light Mode */
  --bg-color-light-mode: #ffd8d8;
  --text-color-light-mode: #364933;

  /* Accent Colors */
  --accent-color-light: #f1baa7;
  --accent-color-medium: #b45a5a;
  --accent-color-dark: #450A0A;
  --accent-color-darkest: #231942;
  --accent-color-green: #465045;
  --accent-color-light-green: #96a183;

  /* Error Colors */
  --error-color: #f8bbd0;
  --error-color-border: #e63946;

  /* Font Styles */
  --title-font: 'Franklin Gothic Medium', sans-serif;
  --subtitle-font: 'Arial', sans-serif;
  --article-font: 'Arial Narrow', sans-serif;

}